@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* *{

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: scroll;
    

  }
  *::before, *::after{
    padding: 0;
    margin: 0;
  } */
  /* :root{
    --pink: #6c072a;
    --violet: #501f55;
    --lightblack: #515C6F;
    --white: #958a8a;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
  } */

*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:"Poppins", sans-serif; ;
    display: flex;
    align-items: center;
    justify-content: center;
height: 100vh;
    background: rgba(0,0,0,.72);
    /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */

/* 
    animation: changeBg 5s infinite
    alternate linear;

 
   */
   
    

}


/* @keyframes changeBg{
    0%{
        background:  #6c072a;
    }
    25%{
        background:#501f55;
    }
    50%{
        background: #0d367d;
    }
    75%{
       background: #6b3b4c;
    }
    100%{
        background: #c42704c3;
    }
}  */
.container{
    border-radius: 20px;
    width: 380px;
    position: relative;
    box-shadow: 0 px 8px 14px var(--lightbshadow);
}
#music-image{
    width: auto;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#progress .times,
.card-footer,
.volume-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.volume-container i{
    margin-right: 5px;
}

li.playing{
    background-color: #fff;
    color: #0b5eb7;
    cursor: pointer;
    font-weight:bolder ;
    box-shadow: 4px 4px 4px slateblue;

}



li:hover{
    background-color: #c6ccd7;
    font-weight: bold;
    color: #fff;
    
}

.card-footer{
    background-color: #515C6F;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-body{
    background-color: #515C6F;
}

.card{
    background-color:  #515C68;
    color: #fff;
    border-radius: 20px;
}


ul{
    height: 120px;
    border-radius: 12px;
    overflow-y: scroll;
    cursor: pointer;
}



li{
    background-color:#515C6F;
    font-size: 12px;
    transition: all 0.5s ease;
}